

{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
        <!-- Widgets  -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-1">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">{{ total_users|default:"0" }}</span></div>
                                    <div class="stat-heading">Population</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-2">
                                <i class="fa fa-female"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">{{ female_users|default:"0" }}</span></div>
                                    <div class="stat-heading">Total Females</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-3">
                                <i class="fa fa-male"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">{{ male_users|default:"0" }}</span></div>
                                    <div class="stat-heading">Total Males</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-4">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">2986</span></div>
                                    <div class="stat-heading">Population Growth</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /Widgets -->

   <!-- Traffic  -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Gender Distribution</h4>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="card-body">
                        <canvas id="genderChart"></canvas>
                    </div>
                </div>
                 <div class="col-lg-4">
                                <div class="card-body">
    <div class="progress-box progress-1">
        <h4 class="por-title">Below 18 yrs</h4>
        <div class="por-txt">{{ below_18_count }} Users ({{ below_18_percentage|default_if_none:"0"|floatformat:"0" }}%)</div>
        <div class="progress mb-2" style="height: 5px;">
            <div class="progress-bar bg-flat-color-1" role="progressbar" style="width: {{ below_18_percentage|default_if_none:"0"|floatformat:"0" }}%;" aria-valuenow="{{ below_18_percentage|floatformat:"0" }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

    <div class="progress-box progress-2">
        <h4 class="por-title">18-35 years</h4>
        <div class="por-txt">{{ age_18_35_count }} Users ({{ age_18_35_percentage|default_if_none:"0"|floatformat:"0" }}%)</div>
        <div class="progress mb-2" style="height: 5px;">
            <div class="progress-bar bg-flat-color-2" role="progressbar" style="width: {{ age_18_35_percentage|default_if_none:"0"|floatformat:"0" }}%;" aria-valuenow="{{ age_18_35_percentage|floatformat:"0" }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

    <div class="progress-box progress-3">
        <h4 class="por-title">36-45 years</h4>
        <div class="por-txt">{{ age_36_45_count }} Users ({{ age_36_45_percentage|default_if_none:"0"|floatformat:"0" }}%)</div>
        <div class="progress mb-2" style="height: 5px;">
            <div class="progress-bar bg-flat-color-3" role="progressbar" style="width: {{ age_36_45_percentage|default_if_none:"0"|floatformat:"0" }}%;" aria-valuenow="{{ age_36_45_percentage|floatformat:"0" }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

    <div class="progress-box progress-4">
        <h4 class="por-title">46-65 years</h4>
        <div class="por-txt">{{ age_46_65_count }} Users ({{ age_46_65_percentage|default_if_none:"0"|floatformat:"0" }}%)</div>
        <div class="progress mb-2" style="height: 5px;">
            <div class="progress-bar bg-flat-color-4" role="progressbar" style="width: {{ age_46_65_percentage|default_if_none:"0"|floatformat:"0" }}%;" aria-valuenow="{{ age_46_65_percentage|floatformat:"0" }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

    <div class="progress-box progress-5">
        <h4 class="por-title">66+ years</h4>
        <div class="por-txt">{{ above_65_count }} Users ({{ above_65_percentage|default_if_none:"0"|floatformat:"0" }}%)</div>
        <div class="progress mb-2" style="height: 5px;">
            <div class="progress-bar bg-flat-color-5" role="progressbar" style="width: {{ above_65_percentage|default_if_none:"0"|floatformat:"0" }}%;" aria-valuenow="{{ above_65_percentage|floatformat:"0" }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>
            </div> <!-- /.row -->
            <div class="card-body">
            </div>
        </div>
    </div><!-- /# column -->
</div>
<!--  /Traffic -->
{% comment %} <!-- Bar chart for monthly user distribution -->
<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h4 class="mb-3">Monthly User Distribution</h4>
            <canvas id="barChart"></canvas>
        </div>
    </div>
</div><!-- /# column --> {% endcomment %}

</div>


</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var ctx = document.getElementById('genderChart').getContext('2d');
        var genderChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{% for date, _ in male_users_data.items %}'{{ date }}',{% endfor %}],
                datasets: [{
                    label: 'Males',
                    data: [{% for _, count in male_users_data.items %}{{ count }},{% endfor %}],
                    backgroundColor: 'rgba(54, 162, 235, 0.2)', // Blue color for males
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                },{
                    label: 'Females',
                    data: [{% for _, count in female_users_data.items %}{{ count }},{% endfor %}],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)', // Red color for females
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });

</script>


{% endblock %}
